<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD en Django</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Pagina Principal</a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="/singout">Cerrar sesion</a>
            </li>
            <li>
                <a href="/tareas">Tareas</a>
            </li>
            {% else %}
            <li>
                <a href="/singup">Registrarse</a>
            </li>
            <li>
                <a href="/singin">Iniciar sesion</a>
            </li>


            {% endif %}

        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>